body {
    font-family: monospace;
}

.nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    padding: 0 10%;
    border-bottom: 1px solid rgba(181, 51, 51, 0.2);
    display: flex;
}

.nav .log img {
    width: 60px;
}