body {
    font-family: monospace;
}

.nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    padding: 0 10%;
    border-bottom: 1px solid rgba(181, 51, 51, 0.2);
    display: flex;
    align-items: center;
}

.nav .logo img {
    width: 60px;
}

.nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    margin-left: 50px;
    display: flex;
    align-items: center;
}

.nav ul li {
    padding: 0 50px;
    font-size: 15px;
}

.banner {
    height: 110vh; /*110% tỉ lệ màn hình theo chiều dọc*/
    width: 100%;
    position: relative;
    overflow: hidden;
}

.banner::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}