@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
body {
    font-family: monospace;
    margin: 0;
}

.nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    padding: 0 10%;
    border-bottom: 1px solid rgba(241, 236, 236, 0.2);
    display: flex;
    align-items: center;
    color: #eee;
}

.nav .logo img {
    width: 60px;
}

.nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    margin-left: 50px;
    display: flex;
    align-items: center;
}

.nav ul li {
    padding: 0 50px;
    font-size: 15px;
}

.banner {
    height: 110vh; /*110% tỉ lệ màn hình theo chiều dọc*/
    width: 100%;
    position: relative;
    overflow: hidden;
}

.banner::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(0.5);
    background-image: url(/assets/img/header.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    background-attachment: fixed;
    z-index: -1;
    content:'';
}

.banner .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 20vh;
    font-family: 'Great Vibes', cursive;
}

.banner img{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%,10%);
    width: 50%;
    filter: brightness(0.5);
}

.banner::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 10vh;
    top: 100vh;
    background-image: url(https://livedemo00.template-help.com/wt_prod-20838/images/cloud-2.png);
    background-size: 100%;
    content: "";
    filter: brightness(0.85);
}

.container {
    min-height: 1500px;
    background-color: #ddd;
}


